<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">

    {% include google-tag.html %}

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">{{ site.title | default: page.title }}</h1>
        {% if site.description %}
          <h2 id="project_tagline">{{ site.description }}</h2>
        {% endif %}
      </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <main id="main_content" class="inner">
        {{ content }}
      </main>
    </div>
  </body>
</html>